  .uk-navbar-nav > li:not(.uk-active) > a:focus {
        background-color: inherit;
        border-left-color:rgba(0,0,0,0);
        border-right-color:rgba(0,0,0,0);
        border-top-color:rgba(0,0,0,0);                
      }  
      